@font-face {
    font-family: "Flame";
    src: url("../Fonts/Flame-Regular.ttf");
}
@font-face {
    font-family: "Flame-Bold";
    src: url("../Fonts/Flame-Bold.ttf");
}

body {
    font-family: Flame, Lato, sans-serif;
}

h4 {
  text-align: center;
}

a {
  flex: 1;
  cursor: pointer;
  text-decoration: none;
  /*color: rgb(80, 35, 20);*/
}
p{
  margin: 0;
}
.card {
  flex: 1;
  border: thin solid #eee;
  border-radius: 10px;
  margin: 5% 3.5%;
  display: flex;
  flex-direction: column;
  /* I think this shadow effect makes the card look like it's 3D */
}
.card:hover {
  /* I'm increasing  the card to give it more of a  nicer 3D look*/
  transform: scale(1.1);
  transition: 0.2s; /* the transition make the "popping" look more natural  */
  /* I also increased the shadow to enhance the 3D effect */
}
.card img {
  padding-top: 0.8em;
  margin: auto;
  height: 15em;
  border-radius: 10px 10px 0 0;
}
.card .description {
  padding: 0.1em 1em;
  height: 15em;
}
.fire-shadow {
  box-shadow: 0 4px 8px 0 rgba(238, 29, 35, 0.6);
  color: rgb(153, 30, 0) !important;
}
.fire-shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(238, 29, 35, 0.6);
}
.firePokemon {
  background-color: #ffd0ca !important;
  background-image: url("../PokeImages/bg-image/bg-red.png"),
  linear-gradient(180deg, #ffe5e2 0%, #ffe5e2 322px, #ffd0ca 322px) !important;
  background-repeat: no-repeat;
  background-position: center 83px, 0 0 !important;
  background-size: 100%, auto !important;
  color: rgb(153, 30, 0) !important;
}

.grass-shadow {
  box-shadow: 0 4px 8px 0 rgba(136, 170, 136, 0.6);
  color: rgb(40, 128, 40);
}
.grass-shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(136, 170, 136, 0.6);
}
.grassPokemon {
  background-color: #d1e5d9 !important;
  background-image: url("../PokeImages/bg-image/bg-green.png"),
  linear-gradient(180deg, #e5f1ec 0%, #e5f1ec 322px, #d1e5d9 322px) !important;
  background-repeat: no-repeat;
  background-position: center 83px, 0 0 !important;
  background-size: 100%, auto !important;
}
.water-shadow {
  box-shadow: 0 4px 8px 0 rgba(104, 144, 240, 0.6);
  color: rgb(18, 55, 164);
}
.water-shadow-shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(104, 144, 240, 0.6);
}
.waterPokemon {
  background-color: #ffd0ca !important;
  background-image: url("../PokeImages/bg-image/bg-blue.png"),
  linear-gradient(180deg, #dbf2ff 0%, #dbf2ff 322px, #bfe6ff 322px) !important;
  background-repeat: no-repeat;
  background-position: center 83px, 0 0 !important;
  background-size: 100%, auto !important;
}

.mainClass{
  display: flex;
  flex-direction: column;
  min-width: 1150px;
}
.row{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

   /*header Styling*/
.homePageHeader{
  display: flex;
  flex-direction: row;
  width: 99%;
  margin: 5px;
  align-items: center;
  text-align: center;
}
.homePageHeader .headerElements{
  flex: auto;
  display: flex;
  flex-direction: row;
  margin:auto; 
  justify-content: center;
}
.headerElements :first-child{
  flex:1;
}
.headerElements :nth-child(2){
  flex:1;
}
.headerElements :nth-child(3){
  flex:1;
}


#homeText{
  text-align: left;
  font-size: 2em;
  color: rgba(223, 64, 64, 0.8);
  
}
.websiteTitle{
  flex:auto
}
.websiteTitle>h2{
  display: flex;
  justify-content: center;
}
.logoContainer{
  flex:auto;
  display: flex;
  justify-content: left;
  align-items: center;
}
.logoContainer:hover{
  background-color: rgba(87, 87, 87, .1);
}
#imgLogo{
  max-height: 75px;
  max-width: 75px;
} 


/* NAV BAR STYLING */
.navBar{
  border: solid thin #eee;
  box-shadow: 0 4px 8px 0 rgba(83, 83, 83, 0.6);
  display: flex;
  flex-direction: row;
  margin: 10px;
  height: 50px;
  align-items: center;
  border-radius: 50px;
} 
.navBar>span{
  position: relative;
  flex:1;
  display: flex;
  justify-content: center;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 10;
  top: 40px; 
  left: auto;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} 
.dropdown{
  position: relative;
  display: flex;
  justify-content: center;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.button{
  padding: 10px;
  border-radius: 5px;
}
.button:hover{ 
  background-color: rgba(0,0,0,0.2);
}
.fire{
  color: rgb(153, 30, 0) !important;
   
}
.water{
  color: rgb(18, 55, 164)!important;
  
}
.grass{
  color: rgb(40, 128, 40)!important;
  
}
#fireType{
  height: 1em;
}

/*FOOTER STYLING*/
.footer{
  border: solid thin #eee;
  box-shadow: 0 4px 8px 0 rgba(83, 83, 83, 0.6);
  display: flex;
  flex-direction: row;
  margin: 10px;
  height: 50px;
  align-items: center;
  border-radius: 50px;
  width: 99%;
  justify-content: center;
  text-align: center;
}
.footer>a{
  flex: none !important;
  margin: auto;
}